# Virtual environments
.env/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyd
*.pyo

# IDE/Editor specific files
.vscode/
.idea/

# Logs and databases
*.log
db.sqlite3

# Distribution and build artifacts
dist/
build/
*.egg-info/

# Sensitive configuration
.env
